body {
    font-size: 18px;
}
input {
    line-height: 18px;
}

h1, h2, p, a, li, input, button, textarea {
	-webkit-font-smoothing: antialiased;
}
article {
    height: 40em;
	position: relative;
	text-align: center;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}
header {
	height:154px;
	background: #fff;
	text-align: center;
	overflow: visible;
	position: relative;
	z-index:1;
}
	header > img {
		padding-top:36px;
		display: block;
		margin:0 auto 31px auto;
	}
	header > nav {
		background-color: rgba(0,0,0,0.18);
		position: relative;
	}
		header > nav > ul {
			height:75px;
			text-align: center;
		}
			header > nav > ul > li {
				line-height: 75px;
				display: inline-block;
			}
				header > nav > ul > li > a,
				header > nav > ul > li > a:link {
					color:#fff;
					text-decoration: none;
					font-family: 'Graphik Web';
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					padding:10px 20px;
					font-size: 15px;
					-webkit-font-smoothing: antialiased;
				}
				header > nav > ul > li > a:hover,
				header > nav > ul > li > a:active,
				header > nav > ul > li > a:focus {
					color:#fdb98d;
				}

article h2,
#request_demo #success h2 {
	font-family: 'Graphik Web';
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	font-size: 3.77em;
	line-height: 1.13em;
	position: relative;
	padding-bottom: .75em;
	margin-bottom: .75em;
	color:#fff;
}
article h2:after {
	content: '';
	position: absolute;
	width: 67px;
	height: 3px;
	left: 50%;
	margin-left: -33px;
	background: #fff;
	bottom: 0;
}
article p,
#request_demo p {
	font-family: 'Graphik Web';
	font-weight:  400;
	font-style:   normal;
	font-stretch: normal;
	line-height: 1.61;
	font-size: 18px;
	width:660px;
	margin:30px auto 0 auto;
	color:#fff;
	letter-spacing:-0.05em;
}
article > div {
    width:100%;
    margin: 4em 0;
}
#opening {
	background: no-repeat center center url('../images/bg-1.jpg');
	background-size: cover;
    padding-left: 60px;
    padding-right: 60px;
}
    #opening > div {
        margin: 0 0;
    }

h1 {
    padding-top: 75px;
	font-family: 'Graphik Web';
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color:#fff;
	font-size: 3.77em;
	line-height: 1.13em;
	position: relative;
}

#we_believe h2 {
    color:#00aebc;
}
#we_believe h2:after {
    background: #fdb98d;
}
#we_believe p {
    color:#5a6771;
}

#we_simplify {
	background: no-repeat center center url('../images/bg-2.jpg');
	background-size: cover;
}
#we_simplify h2:after {
    background-color:#007b8a;
}
#we_simplify p {
    width:710px;
    }

#we_improve h2 {
    color:#00aebc;
}
#we_improve h2:after {
    background: #fdb98d;
}
#we_improve p {
    color:#5a6771;
    width:710px;
}

#tour {
	background: no-repeat center center url('../images/bg-3.jpg');
	background-size: cover;
}
	#tour > div {
	}
		#tour p {
			width:650px;
			margin-bottom:40px;
		}
	#tour ul {
		width: 900px;
		margin: 0 auto;
	}
		#tour li {
			width:33.33333333333333333333%;
			padding:0 40px;
			float: left;
			font-size:15px;
			line-height: 23px;
			color:#fff;
			font-family: 'Graphik Web';
			font-weight: 400;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: -0.05em;
			padding-top: 80px;
			background: no-repeat center top transparent url(../images/icon-video-calling.png);
		}
		#tour li + li {
			background: no-repeat center top transparent url(../images/icon-education.png);
		}
		#tour li + li + li {
			background: no-repeat center top transparent url(../images/icon-connected.png);
		}
	#tour > div > a {
		height:50px;
		width:189px;
		background: #fff;
		border-radius: 7px;
		display: inline-block;
		margin-top:80px;
		position: relative;
	}
		#tour > div > a > span {
			width:151px;
			height:16px;
			text-indent: -54321em;
			background: no-repeat center center url('../images/request-demo-text-only.png');
			display: block;
			margin:18px 0 0 19px;
		}
#request_demo {
    height: 55em;
}
#request_demo h2 {
    color:#00aebc;
}
#request_demo h2:after {
    background: #fdb98d;
}
#request_demo p {
    color:#5a6771;
    margin-bottom: 3em;
}
#request_demo a {
		color:#c5cacd;
		position: absolute;
		top:17px;
		right:17px;
	}
	#request_demo a:hover {
		color:#0a919d;
	}
#request_demo label {
    position: absolute;
    left:-54321em;
}
#request_demo input {
    height: 36px;
}
#request_demo input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
#request_demo input,
#request_demo textarea {
    width: 500px;
    margin: auto auto;
    font-family: 'Graphik Web';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 18px;
    color:#5a6771;
    border: none;
    padding: 3px 10px;
    display: block;
    margin-bottom:16px;
    background:#e6e8ea;
    -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}
#request_demo textarea {
    height:120px;
    line-height: 29px;
}
    #request_demo input.invalid {
        background: rgba(186,56,35,0.4);
    }
        #request_demo input.invalid::-webkit-input-placeholder {
            color: #FFF;
        }
        #request_demo input.invalid:-moz-placeholder {
            color: #FFF;
        }
        #request_demo input.invalid::-moz-placeholder {
            color: #FFF;
        }
        #request_demo input.invalid:-ms-input-placeholder {
            color: #FFF;
        }
    #request_demo input.valid {
        background: #e6e8ea;
    }
		
form button {
    display: block;
    width:172px;
    height:48px;
    background: no-repeat center center url('../images/submit-btn.png');
    margin: 3em auto 1em auto;
    border: none;
    font-size:18px;
    font-family: 'Graphik Web';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color:#fff;
    text-transform: uppercase;
    cursor: pointer;
}
#request_demo #the_load {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: center center no-repeat rgba(255,255,255,0.7) url(../images/loading.gif);
    visibility: hidden;
}   
#request_demo #error {
    visibility: hidden;
}
    #request_demo #error p {
        color: #ba3823;
        text-align: center;
        padding:10px 50px 0px 50px;
        margin:0;
        width:auto;
    }
#request_demo #success {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgb(255,255,255);
    visibility: hidden;
}
    #request_demo #success h2 {
        color:#0a919d;
        text-align: center;
        margin-top:475px;
    }

footer {
	background: #414f57;
    display: flex;
    align-items: center;
    justify-content: center;
}
    footer > div {
        padding: 20px 0;
    }
	footer p {
        color: #fff;
		font-family: 'Graphik Web';
		font-weight:  400;
		font-style:   normal;
		font-stretch: normal;
		line-height: 1.61em;
		font-size: 1em;
		letter-spacing: -0.05em;
		text-align: center;
	}
	footer p + p{
		font-style: italic;
	}
		footer p a {
			color:#fff;
			display: inline-block;
			margin-right:22px;
		}
			footer p a:hover {
				color: #00aebc;
			}
#demo_trigger {
	position: fixed;
	top:50%;
	width:70px;
	height:212px;
	margin-top: -106px;
	background: no-repeat center center url('../images/request-demo.png');
	right:0;
}
	#demo_trigger a {
		text-indent: -54321em;
		position: absolute;
		left:19px;
		top:9px;
		width:51px;
		height:178px;
	}